.partnership {

    &__container {
    }

    &__title {
        @include adaptiveValue("margin-bottom", 15px, 40px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 40px, 60px, $mobile, $desktop);
        }
    }

    &__title-highlighting {
        display: inline-block;
        @include adaptiveValue("margin-top", 10px, 20px, $minWidth, $mobile);
        @include adaptiveValue("font-size", 17px, 30px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            margin: 0;
            @include adaptiveValue("font-size", 32px, 42px, $mobile, $desktop);
        }
    }

    &__form-wrapper {
        width: 100%;
        @include adaptiveValue("margin-bottom", 25px, 40px, $minWidth, $mobile);
        
        @media (min-width: $mobile) {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-end;
            @include adaptiveValue("height", 180px, 260px, $mobile, $desktop);
            margin-bottom: 0;
        }
    }

    &__background {
        display: none;

        @media (min-width: $mobile) {
            display: block;
            position: absolute;
            top: 0;
            @include adaptiveValue("right", 390px, 490px, $mobile, $desktop);
            width: 100%;
            height: 100%;
        }
    }

    &__background-image {
        position: absolute;
        top: 0;
        right: 0;
        aspect-ratio: 1000/866;
        height: 100%;
        
        &:nth-child(odd) {
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }

        &:nth-child(even) {
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }

        @for $i from 2 through 7 {
            &:nth-child(#{$i}) {
                transform: translateX(calc(-57% * #{$i - 1}));
            }
        }
          
    }

    &__background-photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.001, 1.001);
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;

        @media (any-hover: hover) {

            &:hover {
                transform: translate(-50%, -50%) scale(1.1, 1.1);
            }
        }
    }

    &__form {
        width: 100%;

        @media (min-width: $mobile) {
            flex: 0 0 auto;
            @include adaptiveValue("width", 370px, 470px, $mobile, $desktop);
        }
    }

    &__input {
    }

    &__agreement {
    }

    &__agreement-input {
    }

    &__agreement-checkbox {
        border-width: 0px;
    }

    &__agreement-text {
    }

    &__button {
    }

    &__button-text {
    }
}

