<footer class="footer">
    <div class="footer__container container">
        <div class="footer__body">
            <a href="index.html" class="footer__logo">
                <img src="img/logo.svg" alt="логотип" class="footer__logo-icon">
            </a>
            <div class="footer__company-details">
                ООО&nbsp;«ХЮГГЕЛИГ ТЕХНОЛОГИИ»<br>
                ИНН&nbsp;4345518834<br>
                ОГРН&nbsp;1224300004940<br>
                Адрес: 610046, г.&nbsp;Киров,<br>
                2&#8209;й&nbsp;Кирпичный&nbsp;переулок,&nbsp;2/1
            </div>
            <nav class="footer__menu">
                <ul class="footer__menu-left">
                    <li class="footer__menu-item">
                        <a href="camp-stoves.html"
                           class="footer__menu-link @@if (context.page == 'camp-stoves'){footer__menu-link_type_active} footer__link">Походные печи</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="heating-stoves.html"
                           class="footer__menu-link @@if (context.page == 'heating-stoves'){footer__menu-link_type_active} footer__link">Отопительные печи</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#"
                           class="footer__menu-link footer__menu-link_type_desabled footer__link">Банные печи</a>
                    </li>
                </ul>
                <ul class="footer__menu-right">
                    <!-- <li class="footer__menu-item">
                        <a href="#"
                           class="footer__menu-link footer__link">Блог</a>
                    </li> -->                    
                    <li class="footer__menu-item">
                        <div data-popup="consultation" 
                             class="footer__menu-link footer__link">Получить&nbsp;консультацию</div>
                    </li>
                    <li class="footer__menu-item">
                        <a href="index.html#partnership" 
                           class="footer__menu-link footer__link" >
                           Стать&nbsp;партнёром</a>
                    </li>                
                </ul>
            </nav>
            <div class="footer__phone">
                <a href="tel:88007003062" class="footer__phone-link footer__link">
                    8 800 700 30 62
                </a>
                <div class="footer__phone-text">Бесплатно по всей РФ</div>
            </div>
            <a href="mailto:sale@hyggehot.ru" class="footer__email-link footer__link">
                sale@hyggehot.ru
            </a>
            <div class="footer__marketplaces">
                <a href="https://www.youtube.com/channel/UCQztNB5Zq7Y_d3J2a1YsLHw" 
                   class="footer__marketplace-link footer__marketplace-link_name_youtube footer__link"
                   target="_blanc">
                    <svg class="footer__marketplace-icon"> 
                        <use xlink:href="img/icon_sprite/sprite.svg#youtube"></use>
                    </svg>
                </a>
                <a href="https://www.ozon.ru/product/pech-dlya-obogreva-palatki-turisticheskaya-pohodnaya-hyggelig-mini-803358437/?sh=OljW5UVLrw" 
                   class="footer__marketplace-link footer__marketplace-link_name_ozon footer__link"
                   target="_blanc">
                    <svg class="footer__marketplace-icon"> 
                        <use xlink:href="img/icon_sprite/sprite.svg#ozon"></use>
                    </svg>
                </a>
                <a href="https://www.wildberries.ru/catalog/137831007/detail.aspx" 
                   class="footer__marketplace-link footer__marketplace-link_name_wb footer__link"
                   target="_blanc">
                    <svg class="footer__marketplace-icon"> 
                        <use xlink:href="img/icon_sprite/sprite.svg#wb"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>