<header class="header">
    <div class="header__wrapper bottom-line lock-padding">
        <div class="header__container container">
            <div class="header__body">
                <a href="index.html" class="header__logo">
                    <img src="img/logo.svg" alt="логотип" class="header__logo-icon">
                </a>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="camp-stoves.html" 
                                   class="menu__link @@if (context.page == 'camp-stoves'){menu__link_type_active} header__link">Походные печи</a>
                            </li>
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="heating-stoves.html" 
                                   class="menu__link @@if (context.page == 'heating-stoves'){menu__link_type_active} header__link">Отопительные печи</a>
                            </li>
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="#" 
                                   class="menu__link menu__link_type_desabled header__link">Банные печи</a>
                            </li>
                            <!-- <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="#" 
                                   class="menu__link header__link">Каталог печей</a>
                            </li>
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="#"
                                   class="menu__link header__link">Оптовикам</a>
                            </li>
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="#" 
                                   class="menu__link header__link">Блог</a>
                            </li>
                            <li class="menu__item bottom-line bottom-line_hide_tablet">
                                <a href="#" 
                                   class="menu__link header__link">Галерея</a>
                            </li> -->
                        </ul>
                        <div class="menu__phone bottom-line">
                            <a href="tel:88007003062" class="menu__phone-link header__link">
                                8 800 700 30 62
                            </a>
                        </div>
                    </nav>
                </div>
                <a href="tel:88007003062" class="header__phone header__link">
                    8 800 700 30 62
                </a>
                <div class="header__burger burger">
                    <span class="burger__stripe"></span>
                    <span class="burger__stripe"></span>
                    <span class="burger__stripe"></span>
                </div>
            </div>
        </div>
    </div>
</header>